@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', Times, serif;
}

.box1 .btn {
    background-color: lightcoral;
}

.box2 .btn {
    background-color: lightgreen;
}

.box3 .btn {
    background-color: lightblue;
}

.box4 .btn {
    background-color: lightsalmon;
}

.box1 .rectangle {
    border: 1px solid salmon;
}

.box2 .rectangle {
    border: 1px solid lightgreen;
}

.box3 .rectangle {
    border: 1px solid lightblue;
}

.box4 .rectangle {
    border: 1px solid lightsalmon;
}

.rectangle {
    padding: 1em;
    margin-top: -1.25em;
}

.header{
    background-color: #295AA2;
    color: white;
}

.subheader {
    background-color: #8395C8;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}

.footer {
    background-color: #F0F0F0;
    padding-top: 16px;
    padding-bottom: 16px;
}